-- First create the enum type for roles
DO $$ BEGIN
    CREATE TYPE user_role AS ENUM ('user', 'admin');
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

-- Create profiles table
CREATE TABLE IF NOT EXISTS profiles (
    id UUID PRIMARY KEY REFERENCES auth.users(id),
    role user_role DEFAULT 'user',
    created_at TIME DEFAULT CURRENT_TIME NOT NULL,
    updated_at TIME DEFAULT CURRENT_TIME NOT NULL
);

-- Create the trigger function
CREATE OR REPLACE FUNCTION handle_new_user()
RETURNS TRIGGER AS $$
BEGIN
    INSERT INTO public.profiles (id)
    VALUES (NEW.id);
    RETURN NEW;
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Create the trigger
DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;
CREATE TRIGGER on_auth_user_created
    AFTER INSERT ON auth.users
    FOR EACH ROW EXECUTE FUNCTION handle_new_user();

-- Enable RLS
ALTER TABLE profiles ENABLE ROW LEVEL SECURITY;

-- Create policies
DO $$ BEGIN
CREATE POLICY users_view_own_profile
    ON profiles FOR SELECT
    USING (auth.uid() = id);
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
CREATE POLICY users_update_own_profile
    ON profiles FOR UPDATE
    USING (auth.uid() = id);
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

-- Grant permissions
GRANT SELECT, UPDATE ON profiles TO authenticated;

-- Insert existing users into profiles if they don't exist
INSERT INTO profiles (id)
SELECT id FROM auth.users
WHERE id NOT IN (SELECT id FROM profiles)
ON CONFLICT (id) DO NOTHING;

-- First create the admin user in auth.users

-- Then create the profile for admin
INSERT INTO profiles (id, role)
VALUES ('00000000-0000-0000-0000-000000000001', 'admin')
ON CONFLICT (id) DO UPDATE SET role = 'admin';